<?xml version="1.0"?>
<launch>
    <arg name="project" default="floam_g2o"/>
    
    <!-- <node pkg="rosbag" type="play" name="rosbag_play" args="clock -r 1.0 /media/cc/A0EC52D0EC52A078/DATA/wistron/new_driver/2021-09-28-14-43-19.bag"/>  -->
    
    <!-- For Velodyne VLP-16  
    <param name="scan_line" value="16" />
   -->

    <!-- For Velodyne HDL-32 
    <param name="scan_line" value="32" />
    -->

    <!-- For Velodyne HDL-64 -->
    <param name="scan_line" value="64" />
    
    
    <!--- Sim Time -->
    <param name="/use_sim_time" value="true" />
    <param name="scan_period" value="0.1" />

    <param name="vertical_angle" type="double" value="2.0" />
    <param name="max_dis" type="double" value="90.0" />
    <param name="map_resolution" type="double" value="0.4" />
    <param name="min_dis" type="double" value="3.0" />
    <!--- -->
    <node pkg="$(arg project)" type="$(arg project)_estimation_node" name="$(arg project)_estimation_node" output="screen"/>
    <node pkg="$(arg project)" type="$(arg project)_processing_node" name="$(arg project)_processing_node" output="screen"/>
    <node pkg="$(arg project)" type="$(arg project)_mapping_node" name="$(arg project)_mapping_node" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="word2map_tf"  args="0 0 0 0 0 0 /world /map 10" />
    
    <arg name="rviz" default="true" />
    <group if="$(arg rviz)">
        <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find floam_g2o)/rviz/floam_mapping.rviz" />
    </group>

    
  	<node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_loam" ns="gt" >
        <param name="/target_frame_name" value="world" />
        <param name="/source_frame_name" value="velodyne" />
        <param name="/trajectory_update_rate" value="10.0" />
        <param name="/trajectory_publish_rate" value="10.0" />
    </node>
    <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server_loam" ns="base_link" >
        <param name="/target_frame_name" value="world" />
        <param name="/source_frame_name" value="base_link" />
        <param name="/trajectory_update_rate" value="10.0" />
        <param name="/trajectory_publish_rate" value="10.0" />
    </node>
    
    <node pkg="$(arg project)" type="recordTrajNode" name="recordTrajNode" output="screen">
        <param name="/target_frame_name" value="world" />
        <param name="/source_frame_name" value="base_link" />
        <param name="/trajectory_update_rate" value="10.0" />
        <param name="/filename" value="floam.txt" />
    </node>

</launch>
